/* @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');
:root{
  --primary:#080617;
  --primary-light:#100C28;
  --primary-dark:#0a091a;
  --secondary:rgb(182, 191, 243);
  --secondary-light:rgb(198, 204, 240);
  /* --secondary-light:#9BA8C9; */
  --green-strong:#05F2DB;
  --green-strong-transparent:rgb(5, 242, 219,0.2);
  --icon:var(--secondary);
}
html{
  box-sizing: border-box;
}
*,*::after,*::before{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: .3s ease-in-out;
}
body{
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Readex Pro', sans-serif; */
  background: linear-gradient(var(--primary),var(--primary-dark));
  color: var(--secondary);
  font-weight: 300;
}
h1{
  color: var(--green-strong);
  font-weight: 400;
  font-size: 4rem;
}
h2{
  color: transparent;
  -webkit-text-stroke: 0.1rem var(--secondary-light);
  font-size: 3rem;
  margin-bottom: 3rem;
}
h3{
  margin-bottom: 1rem;
}
p{
  font-size: 1rem;
}
.App{
  width: 90%;
  max-width: 70rem;
  margin: 0 auto;
}
section{
  padding: 8rem 0;
}
@media only screen and (min-width:30rem) {
    h1{
      font-size: 6rem;
    }
    h2{
      font-size: 4rem;
    }
    p{
      font-size: 1.3rem;
    }
}