@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;700&display=swap');
:root{
  --primary:#080617;
  --primary-light:#100C28;
  --primary-dark:#0a091a;
  --secondary:#7887AC;
  --secondary-light:#9BA8C9;
  --green-strong:#05F2DB;
  --icon:var(--secondary);
}
html{
  box-sizing: border-box;
}
*,*::after,*::before{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: .3s ease-in-out;
}
body{
  font-family: 'Readex Pro', sans-serif;
  background: linear-gradient(var(--primary),var(--primary-dark));
  color: var(--secondary);
  font-weight: 300;
}
h1{
  color: var(--green-strong);
  font-weight: 400;
  font-size: 6rem;
}
h2{
  color: transparent;
  -webkit-text-stroke: 0.1rem var(--secondary-light);
  font-size: 4rem;
  margin-bottom: 3rem;
}
h3{
  margin-bottom: 1rem;
}
p{
  font-size: 1.3rem;
}
.App{
  width: 90%;
  max-width: 70rem;
  margin: 0 auto;
}
section{
  padding: 8rem 0;
}

/* animation */

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
